﻿<!-- ============================================================== -->
<!-- Modal Dialog -->
<!-- ============================================================== -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog @ViewBag.ModalSize">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title h3" id="myModalLabel">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" id="ModalBody">
                    <!-- Here's what to show on the Pop-Up -->
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
<!-- ============================================================== -->
<!-- End Modal Dialog -->
<!-- ============================================================== -->